## Planet classification
We classify the planets into different categories through threshold defined by NASA

In [64]:
# imports and stuff
import warnings

warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

In [69]:
nasa = pd.read_csv(
    '../data/nasa_estimated.csv',
)

display(nasa)
display(nasa.columns.values)

,pl_name,hostname,pl_orbper,pl_orbsmax,pl_orbeccen,pl_rade,pl_bmasse,pl_masse,pl_dens,pl_insol,...,st_rad,st_mass,st_lum,st_met,st_logg,sy_dist,sy_plx,sy_dist.1,discoverymethod,disc_year
0,14 Her b,14 Her,1765.038900,2.77400,0.3730,19.526320,2559.47216,2559.47216,NaN,NaN,...,1.00,0.91,-0.153,0.405,4.43,17.9323,55.73630,17.9323,Radial Velocity,2002
1,16 Cyg B b,16 Cyg B,799.450000,1.67600,0.6832,8.785134,556.83537,NaN,NaN,NaN,...,1.16,0.98,0.097,0.074,4.30,21.1397,47.27540,21.1397,Radial Velocity,1996
2,1RXS J160929.1-210524 b,1RXS J160929.1-210524,NaN,330.00000,NaN,18.647000,4000.00000,4000.00000,NaN,NaN,...,1.31,0.85,-0.370,NaN,4.00,139.1350,7.15949,139.1350,Imaging,2008
3,47 UMa b,47 UMa,1076.600000,2.05900,0.0160,8.578144,774.86566,NaN,NaN,NaN,...,1.14,1.01,0.198,0.026,4.33,13.7967,72.45280,13.7967,Radial Velocity,1996
4,51 Peg b,51 Peg,4.230797,0.05235,0.0042,10.190256,147.47238,146.20180,NaN,NaN,...,1.19,1.07,0.136,0.206,4.32,15.4614,64.64880,15.4614,Radial Velocity,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3659,pi Men c,HD 39091,6.267829,0.06900,0.0770,2.042000,3.49611,3.63000,2.97,309.0,...,1.10,1.02,0.160,0.050,4.36,18.2702,54.70520,18.2702,Transit,2018
3660,tau Boo b,tau Boo,3.312453,0.04869,0.0074,12.022780,1366.66215,1891.00000,NaN,NaN,...,1.44,1.40,0.505,0.272,4.26,15.6521,63.86380,15.6521,Radial Velocity,1996
3661,ups And b,ups And,4.617122,0.05914,0.0069,8.689628,214.53417,NaN,NaN,NaN,...,1.62,1.29,0.525,0.122,4.13,13.4054,74.57110,13.4054,Radial Velocity,1996
3662,ups And c,ups And,241.223000,0.82650,0.2660,12.413010,624.53282,4443.24113,NaN,NaN,...,1.62,1.29,0.525,0.122,4.13,13.4054,74.57110,13.4054,Radial Velocity,1999
3663,ups And d,ups And,1282.410000,2.51700,0.2940,12.497008,1303.09647,3257.74117,NaN,NaN,...,1.62,1.29,0.525,0.122,4.13,13.4054,74.57110,13.4054,Radial Velocity,1999

array(['pl_name', 'hostname', 'pl_orbper', 'pl_orbsmax', 'pl_orbeccen',
       'pl_rade', 'pl_bmasse', 'pl_masse', 'pl_dens', 'pl_insol',
       'pl_eqt', 'pl_orbincl', 'st_teff', 'st_rad', 'st_mass', 'st_lum',
       'st_met', 'st_logg', 'sy_dist', 'sy_plx', 'sy_dist.1',
       'discoverymethod', 'disc_year'], dtype=object)

In [73]:
def classify_planet(radius, mass, temp):
    if radius < 0.5 and mass < 0.5 and 150 <= temp <= 400:
        return "Sub-Earth"
    elif 0.5 <= radius <= 1.5 and 0.5 <= mass <= 5 and 180 <= temp <= 370:
        return "Earth-like"
    elif 1.5 < radius <= 2.5 and 5 < mass <= 10 and 100 <= temp < 180:
        return "Cold Super-Earth"
    elif 1.5 < radius <= 2.5 and 5 < mass <= 10 and 370 < temp <= 800:
        return "Hot Super-Earth"
    elif 2.5 < radius <= 4 and 10 < mass <= 50 and 300 < temp <= 1000:
        return "Mini-Neptune"
    elif 4 < radius <= 6 and 50 < mass <= 100 and 500 < temp <= 1500:
        return "Neptune-like"
    elif radius > 6 and mass > 100 and temp > 800:
        return "Gas Giant"
    else:
        return "Unknown"

In [72]:
nasa['pl_type'] = nasa.apply(lambda row: classify_planet(row['pl_rade'], row['pl_bmasse'], row['pl_eqt']), axis=1)
display(nasa[nasa['pl_type'] == "Unknown"][['pl_rade', 'pl_bmasse', 'pl_eqt', 'pl_type']])

print(nasa['pl_type'].value_counts())

        pl_rade  pl_bmasse    pl_eqt  pl_type
3      8.578144  774.86566   687.426  Unknown
5      9.894754  267.29369   700.000  Unknown
6      3.990308   54.34866   558.350  Unknown
8      1.897000    9.37594  1831.000  Unknown
9      5.100538   46.87969   488.158  Unknown
...         ...        ...       ...      ...
3630  12.196000   96.93815  1095.000  Unknown
3631  10.720000  220.00000   732.000  Unknown
3632   3.398042  282.70304   879.634  Unknown
3654  10.028168  209.76675   490.938  Unknown
3659   2.042000    3.49611  1170.000  Unknown

[3059 rows x 4 columns]

pl_type
Unknown            3059
Gas Giant           503
Mini-Neptune         68
Hot Super-Earth      22
Neptune-like          8
Earth-like            4
Name: count, dtype: int64

In [68]:
nasa.to_csv('../data/nasa_classified.csv', index=False)